//Big Button
.big-button {
  background: $moss-grey;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $s-size;
  padding: 2.4rem;
  width: 100%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.big-button:disabled{
  cursor: default;
  opacity: .5;
  background: lighten($moss-grey, 10%);
}
