.graph {
  background: $off-white;
  max-width: 300rem;
  margin: 0 auto;
}

p.recharts-tooltip-label {
  font-size: $l-size !important;
}

li.recharts-tooltip-item {
  font-size: $l-size !important;
}