.textarea {
  border: .15rem solid $moss-grey;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-size: $m-size;
  font-family: 'Courier New', Courier, monospace;
  resize: none;
  width: 99%;
}
